<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="This is a test web app">
        <title>hello world</title>
    </head>
    <body>
        <div id="app1">
            <div>
                <label>Name:</label>
                <input type="text" v-model="user.name"></input>
            </div>
            <div>
                <label>Age:</label>
                <input type="text" v-model="user.age" v-bind:title="user.age"></input>
            </div>
            <div style="font-size: large; color: darkslategrey;">
                <label>Name: {{user.name}}, Age: {{user.age}}</label>
            </div>
            <div>
                <label>FullName: {{getUserInfo}}</label>
            </div>
            <div>
                <button v-on:click="changeName">Change Name</button>
                <button v-on:click="accumulateAge">Age++</button>
            </div>
            <div v-if="isEnableMessage" v-html="message"></div>
        </div>
    </body>
    
    <script src="./js/vue.js"></script>
    
    <!--
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    -->
    <script type="text/javascript">

        let app = new Vue({
            el: '#app1',
            data:{
                user:{
                    name: 'Jack',
                    lastName: 'Smith',
                    age: 23
                },
                enableMessage: true,
                message: '<h1>Hello world</h1>'
            },
            created: function(){
                console.log('app1 created');
            },
            methods:{
                changeName:function(e){
                    this.user.name = this.user.name.split('').reverse().join('')
                },
                accumulateAge:function(){
                    this.user.age++;
                }
            },
            computed:{
                getFullName:function(){
                    return this.user.name + '.' + this.user.lastName;
                },
                getUserInfo:function(){
                    return this.user.name + '.' + this.user.lastName + ', age: ' + this.user.age;
                },
                isEnableMessage:function(){
                    // it will be shown only if enableMessage is true
                    // and message contains 'Hello' string
                    return this.enableMessage && this.message.includes('Hello');
                }
            }
        }); 

    </script>
</html>